@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* ============================
nav bar
================================*/
.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-logo img {
  width: 100px;
  height: 100px;
  margin-right: 45px;
}

.nav-item {
  display: none;
}

.nav-item ul li {
  list-style: none;
}

.small-nav>div {
  width: 45px;
  height: 5px;
  margin: 5px;
  background-color: #62AF45;
  cursor: pointer;
}

/* ========================
hero
=========================== */
.hero {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px 0px;
  box-sizing: border-box;
}

.hero .hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1B2D4F;
}

.hero-content h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #FFFFFF;

}

.hero-content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #FFFFFF;

}

.hero .hero-img img {
  width: 100%;
}

/* =======================
Categories
=========================== */
.Categories {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #F5F5F5;
}

.Categories-items {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}

.Categories-items .items {
  padding: 10px;
  margin: 20px 20px;
}

.Categories-items .content h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.Categories-items .content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
  /* identical to box height */
  color: #000000;
}

/* ========================
recent-product 
===========================*/

.recent-product {
  padding-top: 40px;
  border-top: 2px solid rgba(221, 221, 221, 0.5);
}

/* ========================
popular-product
============================ */
.popular-product {
  background-color: #F5FFF1;
  padding: 45px 0;
  margin-top: 50px;
}

.popular-article .items {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.popular-article .items .img img {
  width: 100%;
}

.popular-article .items .content h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  color: #62AF45;
}

.popular-article .items .content p:nth-child(2) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.popular-article .items .content p:nth-child(3) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  color: #454457;
}

.popular-article .items .content p:nth-child(4) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8A96;
}

.popular-article .items .footer {
  border-top: 2px solid rgba(217, 217, 217, 0.5);
  ;
}

.popular-article .items .footer h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.popular-article .items .footer .user-img {
  width: 29.08px;
  height: 29px;
}

.popular-article .items .footer .text h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #62AF45;
}

/* =========================
post-ads
============================= */
.post-ads {
  background-color: #62AF45;
  text-align: center;
}

.post-ads h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.post-ads p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #FFFFFF;
}

.post-ads a {
  width: 171px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  background: #FFFFFF;
  color: #62AF45;
  border-radius: 8px;
}

.post-ads .post-content {
  max-width: 615px;
  padding: 90px 0;
  display: block;
  margin: auto;
}

/* =========================
form-section
============================ */
.form-section {
  border-top: 1px solid rgba(217, 217, 217, 0.7);
  padding: 80px 0px;
}

.form-group {
  max-width: 630px;
  display: block;
  margin: auto;
  padding: 80px 80px;
  padding-top: 70px;
  padding-bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  box-sizing: border-box;
}

.form-group h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 10px;
}

.form-group p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}

.form-items {
  margin-top: 30px;
}

.form-items .country-code {
  width: 70px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-items input[type=number] {
  width: 100% !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-items input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  outline: none;
}

.form-items input[type=submit] {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #62AF45;
}

.form-items input[type=checkbox] {
  width: 23px;
  border: 2px solid #62AF45;
}

.form-items input:focus {
  /* border: 2px solid #62AF45; */
  outline: none;
}

/* ======================
verify-items
========================== */
.verify-items {
  margin-top: 40px;
}

.verify-items input {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 9px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
}

.verify-items input[type=submit] {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #62AF45;
}

/* =======================
postads
=========================== */
.form-group .postads {
  margin-top: 30px;
}

.form-group .postads input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  outline: none;
}

.form-group .postads textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  outline: none;
}

.form-group .postads input:focus {
  border: 2px solid #62AF45;
}

.form-group .postads textarea:focus {
  border: 2px solid #62AF45;
}

.postads input[type=submit] {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #62AF45;
}

/* ========================
about-page
=========================== */
.about-us img {
  width: 100%;
  height: 470px;
}

.about-us h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  margin-bottom: 20px;
  color: #000000;
}

.about-us p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* or 28px */
  color: rgba(0, 0, 0, 0.5);
}

.our-mission {
  padding: 60px 0;
}

.our-mission img {
  width: 470px;
  height: 615px;
}

.our-mission h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  margin: 16px 0;
  color: #000000;
}

.our-mission p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* identical to box height, or 28px */
  color: rgba(0, 0, 0, 0.5);
}

.about-Unique img {
  width: 100%;
  height: 530px;
}

.about-Unique h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  margin-bottom: 15px;
  color: #000000;
}

.about-Unique p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* or 28px */
  color: rgba(0, 0, 0, 0.5);
}

.about-farmers {
  padding: 60px 0;
}

.about-farmers img {
  width: 100%;
  height: 530px;
}

.about-farmers h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  margin-bottom: 20px;
  color: #000000;
}

.about-farmers p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  color: rgba(0, 0, 0, 0.5);
}

.about-farmers h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  margin: 30px 0;
  color: #000000;
}

.about-Sellers {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.about-Sellers .box {
  width: 16px;
  height: 16px;
  border: 1px solid #62AF45;
  border-radius: 100px;
  margin-right: 20px;
}

.about-Sellers p {
  margin-bottom: 0px;
}

/* ========================
faq-section
============================ */

.faq-section {
  padding: 73px 0;
  border-top: 2px solid rgba(217, 217, 217, 0.7);

}

.faq-section h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.faq-section h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #171717;
}

.faq-section a {
  color: #62AF45;
  font-size: 26px;
}

/* =========================
terms-section
============================ */
.terms-section {
  padding: 73px 0;
  border-top: 2px solid rgba(217, 217, 217, 0.7);
}

.terms-section .terms-title {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;

}

.terms-section .terms-items h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.terms-section .terms-items p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 25px;
}

/* =========================
allproduct-hero-section
============================= */
.allproduct-hero-section {
  width: 100%;
  height: 627px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1B2D4F;
}

.allproduct-hero-section .hero-content {
  max-width: 629px;
  padding: 20px;
  margin: auto;
}

.allproduct-hero-section .hero-content h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.allproduct-hero-section .hero-content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* or 28px */
  text-align: center;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 35px;
}

.allproduct-hero-section .hero-content input {
  width: 100%;
  height: 65px;
  padding: 23px;
  background: #FFFFFF;
  border-radius: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  outline: none;
  border: none;
}

.allproduct-hero-section .hero-content a {
  width: 230px;
  display: block;
  padding: 10px 20px;
  background: #62AF45;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  border-radius: 100px;
  margin: 35px auto;
  margin-bottom: 0px;
}

.allproduct-hero-section .hero-content .hero-form {
  position: relative;
}

.allproduct-hero-section .hero-content .hero-form button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 7px;
  padding: 10px;
  border-radius: 50%;
  background-color: #62AF45;
  border: none;
}

/* =========================
allproduct-section
============================ */
.allproduct-section {
  padding: 73px 0;
  padding-bottom: 0;
}

.allproduct-section .page-tittle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
  margin-bottom: 53px;
}

.allproduct-site-bar {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.product-category,
.location,
.price-range {
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
}

.allproduct-site-bar h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 23px;
  color: #000000;
}

.allproduct-site-bar input {
  border: 6px solid #62AF45;
  background-color: orange;
}

.allproduct-site-bar span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #454457;
}

.allproduct-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 70px auto;
}

.allproduct-pagination a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #62AF45;
  margin: 5px;
  border: 1px solid #62AF45;
  border-radius: 50%;
}

.allproduct-pagination a:nth-child(5) {
  background: #62AF45;
  color: #FFFFFF;
}

.allproduct-pagination a:nth-child(2) {
  background: #62AF45;
  color: #FFFFFF;
}

/* =========================
search-section
============================ */
.search-section {
  width: 100%;
  height: 427px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B2D4F;
}

.search-section .search {
  max-width: 629px;
  position: relative;
  margin: auto;
}

.search-section .search input {
  width: 100%;
  height: 65px;
  padding: 23px;
  background: #FFFFFF;
  border-radius: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  outline: none;
  border: none;
}

.search-section .search button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 7px;
  padding: 10px;
  border-radius: 50%;
  background-color: #62AF45;
  border: none;
}

/* ========================
chat-section
============================ */
.chat {
  width: 90%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.chat .row>* {
  padding-left: 0;
  padding-right: 0;
}

.chat .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #000000;
  padding: 24px 40px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.7);
}

/* chat-user */
.chat-user,
.sms-head {
  padding: 20px 30px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.7);
  ;
}

.chat-user {
  padding-right: 0;
}

.chat-user img,
.sms-head img {
  width: 53px;
  height: 53px;
  margin-right: 14px;
  border-radius: 50%;
}

.chat-user h2,
.sms-head h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 6px;

}

.chat-user p,
.sms-head p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #454457;

}

.sms {
  border-left: 1px solid rgba(217, 217, 217, 0.7);
}

.sms-body {
  padding: 30px;
  overflow: hidden;
}

.sms-you {
  margin: 15px 0px;
  float: left;
}

.sms-you img,
.sms-me img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sms-you p,
.sms-me p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #454457;

}

.sms-me {
  float: right;
  margin: 15px 0px;
}

.sms-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.sms-footer .icon {
  width: 120px;
}

.sms-footer .icon img {
  margin-right: 15px;
}

.sms-footer .form {
  width: calc(100% - 150px);
  position: relative;
}

.sms-footer .form textarea {
  width: 100%;
  height: 59px;
  padding: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(69, 68, 87, 0.5);
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 10px;
  resize: none;
}

.sms-footer .form button {
  background-color: white;
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.sms-footer .form button img {
  width: 16.36px;
  height: 16.13;
}

/* =========================
profile1-section
============================ */
.profile1-section {
  max-width: 90%;
  margin: 70px auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.profile-content {
  padding: 30px 20px;
  position: relative;
}

.profile-content img {
  width: 100%;
  height: 335px;
  border-radius: 20px;
}

.change-cover button {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 13px;
  background: #62AF45;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  border-radius: 8px;
  border: none;

}

.profile-content .user {
  position: absolute;
  bottom: 100px;
  left: 50px;
}

.profile-content .user img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-content .user h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #FFFFFF;
}

.profile-content .user p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 0;
}

.profile-content .edit button {
  position: absolute;
  bottom: 100px;
  right: 50px;
  background: #FFFFFF;
  font-family: 'Inter';
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #090707;
  border-radius: 8px;
  border: none;
}

.profile1-section .intro {
  padding: 30px 20px;
  margin-left: 50px;
}

.profile1-section .intro .link {
  margin-bottom: 60px;
}

.profile1-section .intro a {
  width: 139px;
  height: 43px;
  padding: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  border: 1px solid #62AF45;
}

#profile-link {
  background: #62AF45;
  color: #FFFFFF;
}

.profile1-section .intro input {
  width: 100%;
  padding: 5px 0px;
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border: none;
  outline: none;
  border-bottom: 2px solid #D9D9D9;
}

.profile1-section .intro p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 0px;
}

.profile1-section .intro .upload button {
  padding: 10px 15px;
  background: #FFFFFF;
  color: #62AF45;
  border: 1px solid #62AF45;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.profile1-section .intro .upload button:last-child {
  background: #62AF45;
  color: #F7FFF3;
  margin-left: 10px;
}

/* ========================
contact-section
=========================== */
.contact-section .contact {
  max-width: 970px;
  padding: 40px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.contact .intro {
  max-width: 435px;
  text-align: center;
}

.contact .intro h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 15px;
}

.contact .intro p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  text-align: center;
  color: #000000;
}

.contact-section .contact input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px auto;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  outline: none;
}

.contact-section .contact textarea {
  width: 100%;
  padding: 10px 15px;
  margin: 10px auto;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
}

.contact-section .contact input[type=submit] {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  background: #62AF45;
  border-radius: 10px;
}

.contact-section .contact input:focus {
  border: 1px solid #62AF45;
}

.contact-section .contact textarea:focus {
  border: 1px solid #62AF45;
}


.contact .row p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 7px;

}

.contact .row h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.contact .row>div {
  margin-bottom: 20px;
}

/* ========================
blogs-section
========================== */
.blogs-section {
  padding: 50px 0;
  border-top: 1px solid rgba(217, 217, 217, 0.7);
}

.blogs-items {
  margin: 30px 0;
}

.blogs-items img {
  width: 100%;
}

.blogs-items h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 34px;
  color: #000000;
  margin: 20px 0;
}

.blogs-items p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
}

/* =========================
blog-info
============================= */
.section-padding {
  padding: 50px 0px;
  border-top: 1px solid rgba(217, 217, 217, 0.7);
  ;
}

.blog-info .img img {
  width: 100%;
  height: 446px;
}

.blog-info .text h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #000000;
}

.blog-info .text p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 24px;
}

/* =========================
footer
============================ */

footer {
  padding: 93px 0px;
  background-color: #F5FFF1;
  border-bottom: 2px solid rgba(98, 175, 69, 0.25);
}

footer h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 20px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #454457;
}

footer .social-icon {
  padding-top: 30px;
}

footer .social-icon a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background: #62AF45;
  border-radius: 30px;
  float: left;
}

.copy-right {
  padding: 34px 0px;
  background-color: #F5FFF1;
  text-align: center;
}

.copy-right p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4C4C53;
}

.copy-right span {
  color: #62AF45;
}

/* ==========================
responsive
============================ */
@media (min-width:1400px) {
  .profile1-section {
    max-width: 1300px;
    margin: 70px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

}

@media (min-width:1280px) {
  .small-nav {
    display: none;
  }

  .nav-logo img {
    width: 117px;
    height: 108px;
    margin-right: 45px;
  }

  .nav-item {
    display: block;
  }

  .nav-item ul li {
    list-style: none;
    float: left;
  }

  .nav-item ul li a {
    font-family: 'Inter';
    margin-left: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }

  .nav-item .nav-post-ads {
    padding: 12px 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #62AF45;
    border-radius: 8px;
  }

  .chat {
    width: 1170px;
  }

  /* ============
  footer
  ================== */
  footer .social-icon a {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background: #62AF45;
    border-radius: 30px;
    float: left;
  }
}

@media (max-width:992px) {
  .allproduct-site-bar {
    margin: 30px 0;
  }
}

@media (max-width:769px) {
  .search-section {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1B2D4F;
  }

  .sms {
    display: none;
  }

  .profile1-section {
    max-width: 100%;
    margin: 70px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .profile-content .user h2 {
    width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    /* identical to box height */
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blog-info .img img {
    width: 100%;
    height: 300px;
  }

  footer {
    padding: 53px 0px;
    background-color: #F5FFF1;
    border-bottom: 2px solid rgba(98, 175, 69, 0.25);
  }

  .form-group {
    max-width: 630px;
    display: block;
    margin: auto;
    padding: 50px 70px;
    padding-top: 70px;
    padding-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    box-sizing: border-box;
  }

}

@media (max-width:660px) {
  .form-group {
    width: 100%;
    display: block;
    margin: auto;
    padding: 40px 40px;
    padding-top: 70px;
    padding-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    box-sizing: border-box;
  }

}

@media (max-width:570px) {
  .form-group {
    width: 100%;
    display: block;
    margin: auto;
    padding: 40px 20px;
    padding-top: 70px;
    padding-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    box-sizing: border-box;
  }

  .verify-items input {
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 9px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
  }
}